main{
    margin-top: -40px;
    background-color: #C1F0FF;
    padding-bottom: 30px;
}

header{
    background-image: url("../SVG/AboutUs_fixed.svg");
    background-repeat: no-repeat;
    min-height: 300px;
}

h1{
    font-size: 2em;
    padding: 4em;
}

img#businessman{
    float: left;
    width: 30em;
    height: 20em;
    border-radius: 2em;
    border: 2px solid #30608F;
    margin: 4em;
    margin-top: -6em;
}

p#top-text{
    font-size: 1.4em;
    margin-top: 200px;
    margin-right: 60px;
}

img#mg{
    float: right;
    width: 30em;
    height: 20em;
    border-radius: 2em;
    border: 2px solid #30608F;
    margin: 7em;
    margin-top: 1em;
    margin-bottom:50px;
}

p#second-left-text{
    font-size: 1.4em;
    margin-top: 190px;
    margin-left: 100px;
}

img#line-1{
    float: left;
    width: 30em;
    height: 20em;
    border-radius: 2em;
    border: 2px solid #30608F;
    margin: 2em;
    margin-top: 1em;
    margin-right: 60px;
    margin-left: 90px;
}

img#line-2{
    float: right;
    width: 30em;
    height: 20em;
    border-radius: 2em;
    border: 2px solid #30608F;
    margin-right: 7em;
    margin-top: -22.2em;
    margin-left: 60px;
    margin-bottom: 0;
}

p#big-text{
    font-size: 15pt;
    margin-top: 500px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: white;
    border-radius: 10px;
    padding:10px;
    border: 2px solid #30608F;
    margin-bottom: 0;
}