main{
    background-color: #C1F0FF;
    height: 2200px; /*promeni go posle nz*/
}

header{
    background-image: url("../SVG/AboutUs_fixed.svg");
    background-repeat: no-repeat;
    min-height: 300px;
}

h1{
    font-size: 2em;
    padding: 4em;
}

img#businessman{
    float: left;
    width: 30em;
    height: 20em;
    border-radius: 2em;
    border: 2px solid #30608F;
    margin: 4em;
    margin-top: -6em;
}

p#top-text{
    font-size: 1.4em;
    margin-top: 200px;
    margin-right: 60px;
}

img#mg{
    float: right;
    width: 30em;
    height: 20em;
    border-radius: 2em;
    border: 2px solid #30608F;
    margin: 7em;
    margin-top: 1em;
}

p#second-left-text{
    font-size: 1.4em;
    margin-top: 190px;
    margin-left: 100px;
}

img#line-1{
    float: left;
    width: 30em;
    height: 20em;
    border-radius: 2em;
    border: 2px solid #30608F;
    margin: 2em;
    margin-top: 1em;
    margin-right: 60px;
}

img#line-2{
    float: right;
    width: 30em;
    height: 20em;
    border-radius: 2em;
    border: 2px solid #30608F;
    margin: 7em;
    margin-top: -22.2em;
    margin-left: 60px;
}

p#big-text{
    font-size: 1.4em;
    margin-top: 630px;
    margin-left: 60px;
    margin-right: 60px;
}