main{
    background-color: #C1F0FF;
<<<<<<< HEAD
    
=======
>>>>>>> 9f28372c27d3a67897a3804e91a5a73b04d4d7ac
}

header{
    background-image: url("../SVG/AboutUs_fixed.svg");
    background-repeat: no-repeat;
    min-height: 300px;
}

header img{
    width: 390px;
    height: 280px;
    float:right;
    margin-right: 40px;
    margin-top:10px;
    border-radius: 13px;
}

header h1{
    margin:0;
}

header div{
    position: relative;
    top:110px;
    left:240px;
}

.top-part{
    padding-top: 20px;
    margin-bottom:70px;
}

.top-part img{
    width: 450px;
    height: 300px;
    margin-left: 45px;
    float:left;
    border-radius: 13px;
}

.top-part p{
    width:500px;
    display: inline-block;
    margin-top:80px;
    margin-left:100px;
    font-size: larger;
}

.bottom-part p{
    margin-left:50px;
    margin-right:70px;
    font-size: larger;
}

.video-section{
    text-align: center;
}

.video-section iframe{
    width:900px;
    height:500px;
}